body {
    /* --background: #ccc000; */
    --text-color: #000;
    --link-color: #000;

    font-family: 'Playfair Display', serif;
    color: var(--text-color);
    font-size: min(calc(1.2rem + 1vw), 2.2rem);
    line-height: 1.5;
}

.gradient-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    pointer-events: none;
    background: var(--background-gradient);

    z-index: -1;
}

.content-container {
    position: relative;

    padding-top: 1vw;
    padding-left: 3vw;

    z-index: 1;
}

h1 {
    font-size: min(15vw, 10rem);
    line-height: 1;
    margin: 0;
    padding: 0;

    font-weight: 900;
}

.face-icon {
    display: inline-block;
    position: relative;
    top: min(3vw, 2rem);
    width: min(16vw, 11rem);
    height: min(16vw, 11rem);
}

.links {
    margin-top: min(4vw, 4rem);
}

.links a {
    color: var(--link-color);
    font-weight: 900;
}

.links span {
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 600px) {
    .content-container {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
